<div *ngIf="data.$person | async as person">
  <h1 mat-dialog-title>Персональные данные</h1>
  <div mat-dialog-content>
    <app-inquiry-info-edit [theme]="themes.Gray">
      <app-edit-person [model]="person" [personType]="data.personType">
        <ng-container *ngIf="data.personType == personTypes.Child">
          <birth-info [model]="person"></birth-info>
          <app-disability [inquiryType]="data.inquiryType" [model]="person"></app-disability>
        </ng-container>
      </app-edit-person>
    </app-inquiry-info-edit>
  </div>
  <app-dialog-buttons [config]="config" [isValid]="isValid()"></app-dialog-buttons>
</div>