<app-step title="Законный представитель">
  <app-edit-person [model]="inquiry?.parent" [personType]="personTypes.Parent"></app-edit-person>
  <app-edit-citizenships [model]="inquiry?.parent" [personType]="personTypes.Parent" [applicantType]="inquiry.applicantType"></app-edit-citizenships>
  <app-relation-type [owner]="inquiry?.parent"></app-relation-type>
  <app-inquiry-info-edit>
    <mat-checkbox [(ngModel)]="agree">
      Заявителем дано согласие на обработку персональных данных
      <b style="color: red;">*</b>
      <a title="Печать согласия на обработку персональных данных">
        <i class="mdi mdi-printer"></i>
      </a>
    </mat-checkbox>

  </app-inquiry-info-edit>
  <app-routing-buttons [config]="config" [isValid]="isValid()"></app-routing-buttons>
</app-step>
